<mat-toolbar>

    <div *ngIf="!isUserAuthenticated" class="container">
        <span>My Movies</span>

        <a mat-button routerLink="">Login</a>
    </div>
    <div *ngIf="isUserAuthenticated" class="container">
        <span>My Movies</span>
        <a mat-button routerLink="home">Movies</a>
        <button mat-button (click)="logout()">Logout</button>
    </div>  
    <button (click)="toggleDark()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>dark_mode</mat-icon>
    </button>
</mat-toolbar>
<div class="container">

    <router-outlet></router-outlet>

</div>