<p>Please enter any name in order to login. This is just so we can generate a token to authorize API access

</p>
<form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">
 
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput id="username" formControlName="username" >
      </mat-form-field>
    <br>
    <div class="form-group row">
        <div class="col-md-1">
            <button type="submit" class="btn btn-info" >Login</button>
        </div>
    </div>
</form>