<h1>login works!</h1>
<form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">
    <div class="form-group row">
        <label for="username" class="col-form-label col-sm-2">Username:</label>
        <div class="col-md-5">
            <input type="text" id="username" formControlName="username" class="form-control" />
        </div>
   
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
    <br>
    <div class="form-group row">
        <div class="col-md-1">
            <button type="submit" class="btn btn-info" >Login</button>
        </div>
    </div>
</form>